<div align='center'>
    
<p class='large'>VERY SAFE MOVIE FINDER</p>
<br>
<p class='medium'>New User Registration</p>
<br>
<div>
    <input class = "first"
    type = "text"
    placeholder="first name" 
    [(ngModel)]="user.firstName">
</div>
<div>
    <input class = "last"
    type = "text"
    placeholder="last name" 
    [(ngModel)]="user.lastName">
</div>
<div>    
    <input class = "email"
    type = "text"
    placeholder="email or credit card" 
    [(ngModel)]="user.email" >
</div>
<div>
    <input class = "password"
    type = "password"
    placeholder="password" 
    [(ngModel)]="user.password"> 
</div>
<br>
<button class = "btn btn-success" (click) = "newRegister()">Register</button>

</div>