<p>
Find a movie
</p>

<div>
<label>search:
    <input [(ngModel)]="_movie.search" placeholder="enter search" (keyup.enter)="newsearch()">
</label>

<div *ngIf="info">
  <div *ngFor="let typed of info">{{typed.title}} {{typed.release_date}}
    <button class = "btn btn-success" (click) = "savemovie(typed)">Add to Favorites</button>
    <div *ngIf="typed.poster_path!=null">
      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{typed.poster_path}}">
    </div>
  </div>
</div>
</div>


<!--
<div *ngIf="typed.poster_path=null">
  <img src="https://commons.wikimedia.org/wiki/File%3ANo_image_available.svg">
</div>
-->

<!--
<div *ngIf="typed.poster_path!=null">
  <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{typed.poster_path}}">
</div>
-->